<div class="user-profile">
  <div class="user-profile-image"></div>
  <div>
    <div class="user-info">
      <div class="field">Name:</div>
      <div>{{ user?.firstName }} {{ user?.lastName }}</div>
    </div>
    <div class="user-info">
        <div class="field">Age:</div>
        <div>{{ user?.age }}</div>
        </div>
      <div class="user-info">
        <div class="field">Address:</div>
      <div>{{ user?.address }}</div>
      </div>
      <div class="user-info">
        <div class="field">Phone:</div>
        <div>{{ user?.phoneNumber }}</div>
      </div>
      <div class="user-info">
        <div class="field">Email:</div>
        <div>{{ user?.email }}</div>
      </div>
      <div class="user-info">
        <div class="field">User Name:</div>
        <div>{{ user?.username }}</div>
      </div>
      <div class="user-info">
        <div class="field">Password:</div>
        <div>{{ user?.password }}</div>
      </div>
    </div>
  </div>
